<section id="aboutme" class="py-12">
  <div
    class="container text-left flex flex-col justify-center items-left min-h-96"
  >
    <span
      class="text-gray-700 mb-3 uppercase md:text-sm text-xs tracking-widest"
      >Sobre mí</span
    >
    <h2 class="font-bold text-yellow-300 text-2xl md:text-4xl">
      ¿Quién soy?🤔
    </h2>
    <p class="text-gray-200 mt-6">
      Hola, soy un desarrollador frontend especializado en Angular. Me apasiona
      trabajar en proyectos que involucren la construcción de interfaces de
      usuario dinámicas y atractivas para aplicaciones web.
    </p>
    <p class="text-gray-200 mt-4">
      Soy un simple mortal que le gusta la programación y que lo intentó hacer
      como hobby, pero se terminó enamorando de la programación.
    </p>
    <p class="text-gray-200 mt-4">
      Mi pasión es escuchar cualquier tipo de música relajante mientras escribo
      código...
    </p>
  </div>
</section>
