<section
  id="home"
  class="mb-12 py-5 h-[90vh] items-center flex justify-center relative"
>
  <div
    class="text-left md:text-center container flex flex-col justify-center items-center gap-6 h-96"
  >
    <h1
      class="typewriter font-black mr-auto md:mx-auto text-white text-4xl md:text-5xl tracking-tight lg:text-7xl text-uppercase"
    >
      Hola, soy
      <div class="text-yellow-300 mx-auto">Edson Rosales</div>
    </h1>

    <div
      class="flex mr-auto md:mx-auto items-center justify-start md:justify-center"
    >
      <p
        class="text-gray-300 text-sm md:text-lg mr-auto font-normal md:mx-autouppercase tracking-wider"
      >
        Desarrollador Frontend
      </p>
    </div>

    <div class="md:mx-auto mr-auto flex items-center gap-4 flex-col relative">
      <a
        href="assets/CV2023.pdf"
        target="_blank"
        class="flex items-center justify-center gap-4 md:px-12 md:py-3 btn-10 py-2 text-md md:text-xl px-6 text-gray-950 transition duration-200 ease-in-out font-normal"
      >
        Descargar CV <fa-icon [icon]="faDownload"></fa-icon>
      </a>
    </div>

    <div class="flex flex-row gap-4 md:gap-6 mt-3 mr-auto md:mx-auto">
      <a
        target="_blank"
        href="https://www.linkedin.com/in/edson-rosales/"
        class="text-2xl md:text-4xl hover:scale-125 transition duration-200 ease-in-out text-white"
      >
        <fa-icon [icon]="faLinkedin"></fa-icon>
      </a>

      <a
        target="_blank"
        href="https://github.com/edonrosa6"
        class="text-2xl md:text-4xl hover:scale-125 transition duration-200 ease-in-out text-white"
      >
        <fa-icon [icon]="faGithub"></fa-icon>
      </a>
    </div>
  </div>

  <div class="absolute bottom-10 md:block hidden">
    <a
      href="#aboutme"
      class="absolute animate-bounce text-gray-800 bg-yellow-300 rounded-full w-10 h-10 flex items-center justify-center"
    >
      <fa-icon [icon]="faArrow"></fa-icon>
    </a>
  </div>
</section>
