.punctuation {
    color: rgb(139, 139, 139);
}

.attr-name {
    color: #958fe9;
}

.comment {
    color: rgb(16, 201, 16);
}

.code-inside {
    margin-left: 25px;
}

.html-text {
    color: #fff;
}

.tag {
    color: #786ffc;
}
